*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
  border: 5px solid red;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.item{
  width: 50px;
  height: 50px;
  border: 2px solid yellowgreen;
}

.item-pic-j{
  width: 400px;
  height: 400px;
  border: 2px solid blue;
  grid-row: 1 / span 1;
  grid-column: 4 / span 4;
}

/*  above are the testing version  */



/* victor part */
item-name-v h3{
  text-align: center;
  font-size: larger;
  grid-row: 3 / span 1;
  grid-column: 1 / 4;
}

.item-pic-v{
  width: 250px;
  height: auto;
  grid-row: 3 / span 1 ;
  grid-column: 4 / span 4;
}

.item-info-v{
  text-align: center;
  width: 300px;
}