*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: aquamarine;
  border: 5px solid red;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.item{
  width: 50px;
  height: 50px;
  border: 2px solid yellowgreen;
}

.item-pic-j{
  width: 400px;
  height: 400px;
  border: 2px solid blue;
  grid-row: 1 / span 1;
  grid-column: 4 / span 4;
}